* {
    box-sizing: border-box;
}

html, body {
    margin: unset;
    padding: unset;
    --root-padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
    padding-left: var(--root-padding);
    padding-right: var(--root-padding);
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

main {
    margin-top: 50px;
}

main > section {
    padding: 0 var(--root-padding);
}

.two-sections {
    display: flex;

}

.how-to-order {

}